* {
  width:1920px;
  height:auto;
  margin: 0;
  padding: 0;
}
body {
	/*background-color:black;*/
  width:100%;
  background: url("../images/lover.jpg");
  /*background-size: 100%;*/
  overflow:hidden;
}
.lovermove {
	width: 480px;
	height: auto;
	/*background-color:blue;*/
	position: absolute;
	right:200px;
	bottom:-15%	;
	animation: lovermove 3s linear;
}
@keyframes lovermove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mybox {
  width: 160px;
  height: 100%;
  /*background-color:blue;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  perspective:1200px;
  animation: myboxmove 25s linear infinite;
}
@keyframes myboxmove {
  from {
    transform: rotateY(0deg) rotateZ(-15deg);
  }
  to {
    transform: rotateY(0deg) rotateZ(-15deg);
  }
}
.box {
  width: 160px;
  height: 100px;
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: red;*/
  transform-style: preserve-3d;
  animation: ImgMove 25s linear infinite;
}
@keyframes ImgMove {
  from {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(0deg);
  }
}
/*@keyframes ImgMove{
	0% { 
		transform: rotateY(0deg) rotateX(0deg);
	}
	85% {
		transform: rotateY(0deg)rotateX(0deg);
	}
	100% {
		transform: rotateY(360deg) rotateX(0deg);
	}
}*/
.box img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.footerbox img {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.5)));

}
.topboxplus {
	position:absolute;
	top:-511px;
}
.topbox {
	position:absolute;
	top: -305px;
}
.footerboxplus {
	position:absolute;
	top:105px;
}
.footerbox {
	position:absolute;
	top: 311px;
}
/*图片变换*/
.box img:nth-child(1) {
  transform: rotateY(12deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(2) {
  transform: rotateY(24deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(3) {
  transform: rotateY(36deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(4) {
  transform: rotateY(48deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(5) {
  transform: rotateY(60deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(6) {
  transform: rotateY(72deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(7) {
  transform: rotateY(84deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(8) {
  transform: rotateY(96deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(9) {
  transform: rotateY(108deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(10) {
  transform: rotateY(120deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(11) {
  transform: rotateY(132deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(12) {
  transform: rotateY(144deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(13) {
  transform: rotateY(156deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(14) {
  transform: rotateY(168deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(15) {
  transform: rotateY(180deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(16) {
  transform: rotateY(192deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(17) {
  transform: rotateY(204deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(18) {
  transform: rotateY(216deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(19) {
  transform: rotateY(228deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(20) {
  transform: rotateY(240deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(21) {
  transform: rotateY(252deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(22) {
  transform: rotateY(264deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(23) {
  transform: rotateY(276deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(24) {
  transform: rotateY(288deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(25) {
  transform: rotateY(300deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(26) {
  transform: rotateY(312deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(27) {
  transform: rotateY(324deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(28) {
  transform: rotateY(336deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(29) {
  transform: rotateY(348deg) translateZ(-800px);
  backface-visibility: hidden;
}
.box img:nth-child(30) {
  transform: rotateY(360deg) translateZ(-800px);
  backface-visibility: hidden;
}
